# FastAPI and ASGI Server
fastapi==0.136.1
uvicorn==0.34.0

# Database & ORM (PostgreSQL & InfluxDB)
SQLAlchemy==2.0.49
psycopg2-binary==2.9.12
influxdb-client==1.50.0

# Pydantic & Data Validation
pydantic==2.13.3
pydantic_core==2.46.3

# Security, Hashing, and Tokens
passlib[bcrypt]==1.7.4
bcrypt==4.2.0
python-dotenv==1.2.2

# Utilities & Networking
requests==2.33.1
anyio==4.13.0
certifi==2026.4.22
idna==3.13